<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kg.gettransfer">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".GTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_beta"
        android:roundIcon="@mipmap/ic_launcher_beta_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/geoapikey" />

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${hockeyAppId}"/>

        <activity
            android:name=".presentation.ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ui.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTransparentStatusBar" />
        <activity
            android:name=".presentation.ui.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.SearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.ui.CreateOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".presentation.ui.WebPageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.ui.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.ui.OffersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.ui.RequestsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.ui.TransferDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.ui.CarrierTripsActivitty"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.ui.CarrierTripDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
<!--
        <activity
            android:name="presentation.ui.TransferActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
-->
    </application>

</manifest>